:root {
  --main: #b7cee4;
  --main: #71a9dd;
  /* --main: #c9d9e7; */
  --container: #f4f8f7;
  --colorTextInput: #6f7c76;
  --colorButton: #8baecd;
  --colorButtonHover: #84a3cd;
  --colorPlaceholder: #a3aba7;
  --colorWhite: #fff;
  --textLogin: #c5cbc8;
  --hr: #a5c3df;
  --text: #6f7c76;
  --text: #565656;
}

/* 565656 */
